@import '../../styles/Basic';

.application {
    background-color: $darkgray;
    border-radius: 40px 40px 0 0;
    position: relative;
    box-shadow: -2px 0 5px $black;
}

.tabs {
    position: absolute;
    bottom: 100%;
    left: 0;
}