/**
* COLORS
*/

$white: #f5f5f5;
$lightgray: #999;
$gray: #333;
$darkgray: #1b1b1b;
$black: #111;
$green: #ADBA81;
$pink: #FDB5AA;
$yellow: #F6D646;
$blue: #AFF5FA;
$orange: #E76244;

.white { color: $white; }
.lightgray { color: $lightgray; }
.gray { color: $gray; }
.darkgray { color: $darkgray; }
.black { color: $black; }
.green { color: $green; }
.pink { color: $pink; }
.yellow { color: $yellow; }
.blue { color: $blue; }
.orange { color: $orange; }

/**
* FONTS
* export $coding
*/

$coding: 'apple_regular';
@font-face {
    font-family: $coding;
    src: url('./fonts/apple_-webfont.woff2') format('woff2'),
            url('./fonts/apple_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); // 'Space Mono'
// @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap'); // 'Syne Mono'
// @import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap'); // 'Flow Circular'
// @import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap'); // 'Nixie One'

/**
* SELECTION
*/

::-moz-selection { /* Code for Firefox */
    color: $black;
    background: $white;
}

::selection {
    color: $black;
    background: $white;
}

/**
* FIGURE
*/

figure {
    width: 100%;
    height: auto;
    transition: all .2s ease-in-out;
    opacity: .5;
    filter: saturate(0%);

    &:hover {
        opacity: 1;
        transform: scale(101%);
        filter: saturate(100%);
    }
}

/**
* RESET THE HTML AND BODY
*/

html {
    font-size: 62.5%;
    /* changes a default 16px font size to 10px */
}

body {
    background-color: $black;
    color: $white;
    font-size: 1rem;
    letter-spacing: -0.1rem;
    line-height: 2rem;
    margin: 0px;
    font-family: $coding, 'Space Mono', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}