@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/Basic';

body {
    background-color: $black;
    color: $white;
    margin: 0px;
    font-family: $coding, 'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}